<h2>Add a new post!</h2><br>

<%= form_for :post, url: posts_path do |form| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |message| %>
      <dev class="alert alert-danger"><%= message %></dev>
    <% end %>
  <% end %>

  <h5>
    Author<br>
    <%= form.text_field :author, :class => 'form-control', placeholder: "What's your name?" %><br>
  </h5>

  <h5>
    Title<br>
    <%= form.text_field :title, :class => 'form-control', placeholder: "How you'd like to name your post?" %><br>
  </h5>

  <h5>
    Body<br>
    <%= form.text_area :body, :class => 'form-control', placeholder: "Body of your post" %><br>
  </h5>

  <h5>
  <%= form.submit :class => 'btn btn-success' %><br>
  </h5>
<% end %>